@import imports

*
  margin: 0
  padding: 0
  font-family: Jost
  font-style: normal

body
  display: flex
  flex-direction: column
  min-height: 100vh

main
  background-color: black

.contacts-icons
  position: sticky
  float: right
  bottom: 63px
  right: 25px
  margin-bottom: 6px
  @media screen and (min-width: $small)
    bottom: 80px
  @media screen and (min-width: $medium)
    margin: 0
    position: relative
    bottom: (-272px + 25px)
  @media screen and (min-width: $large)
    bottom: (-297px + 16px)

  &__group
    display: flex
    flex-flow: row nowrap
    gap: 8px
  &__icon
    cursor: pointer
    width: 37px
    height: 37px
    @media screen and (min-width: $medium)
      width: 50px
      height: 50px
    @media screen and (min-width: $large)
      width: 75px
      height: 75px

a
  text-decoration: none

ul
  list-style: none

.btn
  background: none
  border: none
  cursor: pointer
  text-align: center

  &_primary
    border: 1px solid #B28A77

  &_footer
    border: 1px solid #685C56

  &_brown
    background: linear-gradient(88deg, #BC856A 0%, #E5A484 82.71%)
