<div class="object">
  <div class="object__wrapper">
    <div class="object__card">
      <div class="object__card-title">@@title</div>
      <div class="object__card-description">Комфорт и функциональность в сердце города</div>
    </div>

    <button class="object__btn btn btn_primary">
      Все объекты @@title
      <img class="object__btn-icon" src="./img/icons/icons.svg#arrow-right-btn" alt="" />
    </button>

    <div class="object__apartments">
      <!-- <div class="object__apartment apartment">
        <img src="./img/index/business-1.jpg" alt="" class="apartment__img" />

        <div class="apartment__description">
          <div class="apartment__info">
            <span class="apartment__name">
              FØRST <br />
              ЮАО
            </span>
            <span class="apartment__price">от 27 500 000 руб</span>
          </div>
          <div class="apartment__info">
            <span class="apartment__square">
              2 комнаты <br />
              53.5 м2 площадь
            </span>
            <a class="apartment__leave-request">Оставить заявку</a>
          </div>
        </div>
      </div>

      <div class="object__apartment apartment">
        <img src="./img/index/business-2.jpeg" alt="" class="apartment__img" />

        <div class="apartment__description">
          <div class="apartment__info">
            <span class="apartment__name">
              Portland <br />
              ЮВАО
            </span>
            <span class="apartment__price">от 22 300 000 руб</span>
          </div>
          <div class="apartment__info">
            <span class="apartment__square">
              3 комнаты <br />
              78.9 м2 площадь
            </span>
            <a class="apartment__leave-request">Оставить заявку</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
